.logo-img {
  height: 40px;        
  width: auto;        
  object-fit: contain; 
  border-radius: 50%;  
}

/* app.component.scss or styles.scss */
#menu,
#about {
  scroll-margin-top: 80px; /* equal to navbar height */
}
